.otp-input {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
  }
  
  .otp-input input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    margin: 0 5px;
  }
  
  .otp-input input:focus {
    border-bottom: 2px solid blue;
  }
  
  .kep-login-facebook {
    background-color: #3b5998 !important;
    color: #ffffff !important;
    border: none !important;
    padding: 10px 9px !important;
    border-radius: 4px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    cursor: pointer !important;
  }