

.paypal-button {
    border: 1px solid transparent !important;
    border-radius: 13 3px 3px 0 !important;
    position: relative !important;
    width: 39% !important;   
    box-sizing: border-box !important;
    border: none !important;
    vertical-align: top !important;
    cursor: pointer !important;
    overflow: hidden !important;
   
}

.Btn{
    text-align: 'center'!important;
    display: flex;
     /* justifyContent: 'center';  */
}